.section
{
position: absolute;
left: 300px;
top: 150px;	
border:2px black dotted;			
}
.tabnav
{
position: fixed;
	border: 2px #FF9900 solid;
	background-color: orange;		
	font-size:x-large;	
	text-align:left;	
border-radius: 5px; 
top: 150px;	
}

.petit
{
font-size:large;				
}

td
{
text-align: justify;
			
}

.blanc
{
		border: 2px #C0C0C0 solid;
		color:white;
		
}

.entete
{
font-size: 38px;
position: fixed;
left: 425px;
top:20px;
	border: 2px #FF9900 solid;
background-color: orange;
border-radius: 5px; 

}

.ligne
{
font-size: 42px;
color:black;				
}
li
{
	border: 2px #FF9900 solid;
	background-color: orange;		
	font-size:x-large;	
	text-align:left;
}
.imageentete
{	
position: fixed;
top: -10px;	
}

.index
{
text-decoration: none;	
color: white;			
}

.index:hover
{
color: maroon;				
}

h1
{
text-align:center;
}
.gauche
{
position: absolute;
	left:329px;			
}
.tgauche
{
position: absolute;
	left:659px;			
}
.ttgauche
{
position: absolute;
	left:989px;			
}


